<ion-header>

	<ion-navbar>

		<ion-title style="margin-left: -32px;"><img src="assets/imgs/logo.png" alt="Tenis Clube Suzano" class="img-fluid img-responsive" style="width: 30%; position: relative; display: table; margin: 0px auto;" /></ion-title>

	</ion-navbar>

</ion-header>


<ion-content>

	<ion-grid id="page-grade">
		
		<ion-row *ngIf="carregado == -1">

			<ion-col text-center>

				<h2>Atividade não encontrada!</h2>

			</ion-col>

		</ion-row>
		<ion-row *ngIf="carregado == 0">

			<ion-col text-center>

				<ion-icon id="carregando-icon" name="refresh-circle"></ion-icon>
				<h2>Carregando ...</h2>

			</ion-col>

		</ion-row>
		<ion-row *ngIf="carregado == 1">

			<ion-col col-12 text-center>

				<h3 [innerHTML]="Atividade.categoria"></h3>

			</ion-col>
			<ion-col col-12 text-center>

				<h2 [innerHTML]="Atividade.nome"></h2>

			</ion-col>
			<ion-col col-12>

				<div style="position: relative; display: table; width: 90%; margin: 0px auto 20px auto;" [innerHTML]="Atividade.descricao"></div>

			</ion-col>
			<ion-col col-12 *ngIf="Total == 0">

				<h5 text-center>Esta atividade não possui horários a serem exibidos.</h5>

			</ion-col>
			<ion-col col-12 *ngIf="Total >= 1">

				<ion-card *ngFor="let horario of Horarios">

					<ion-card-header [innerHTML]="horario.dia"></ion-card-header>
					<ion-card-content>
						
						<div *ngFor="let hora of horario.itens" [innerHTML]="hora.item"></div>

					</ion-card-content>

				</ion-card>

			</ion-col>

		</ion-row>

	</ion-grid>

</ion-content>
