<ion-header>

	<ion-navbar>

		<button ion-button menuToggle>
 
			<ion-icon name="menu"></ion-icon>

		</button>
		<ion-title style="margin-left: -32px;"><img src="assets/imgs/logo.png" alt="Tenis Clube Suzano" class="img-fluid img-responsive" style="width: 30%; position: relative; display: table; margin: 0px auto;" /></ion-title>

	</ion-navbar>

</ion-header>


<ion-content>

	<ion-grid id="page-contato-content">

		<ion-row *ngIf="AssuntosTotal == -1">

			<ion-col text-center>

				<ion-icon id="carregando-icon" name="refresh-circle"></ion-icon>
				<h2>Carregando ...</h2>

			</ion-col>

		</ion-row>
		<ion-row *ngIf="AssuntosTotal == 0">

			<ion-col text-center>

				<h2>Falha ao carregar o formulário de contato.</h2>

			</ion-col>

		</ion-row>
		<ion-row *ngIf="AssuntosTotal >= 1">

			<ion-col>

				<form (ngSubmit)="SubmitForm()">

					<ion-input type="text" placeholder="Nome" [(ngModel)]="formData.nome" name="nome" required></ion-input>
					<ion-input type="tel" placeholder="Telefone" [(ngModel)]="formData.telefone" name="telefone" required></ion-input>
					<ion-input type="email" placeholder="Email" [(ngModel)]="formData.email" name="email" required></ion-input>
					<ion-input placeholder="Melhor horário para contato" [(ngModel)]="formData.horario" name="horario" required></ion-input>
					<div id="page-contato-content-assunto">
						
						<ion-list *ngIf="AssuntosTotal >= 1">

							<ion-item>

								<ion-select id="assunto" name="assunto" [(ngModel)]="formData.assunto">

									<ion-option value="" style="color: #999999;" disabled>Assunto</ion-option>
									<ion-option value="{{ assunto.id }}" *ngFor="let assunto of Assuntos">{{ assunto.nome }}</ion-option>

								</ion-select>

							</ion-item>

						</ion-list>

					</div>
					<ion-textarea placeholder="Mensagem" [(ngModel)]="formData.mensagem" name="mensagem" required></ion-textarea>
					<button ion-button type="submit">Enviar</button>

				</form>

			</ion-col>

		</ion-row>

	</ion-grid>

</ion-content>