page-contato {

	ion-content {

		background-color:	#ECECEC !important;
		position:			relative;
		display:			table;
		height:				100%;
		width:				100%;

	}

	
	#page-contato-content {

		background-color:	#ECECEC !important;
		padding-bottom:		15px;
		padding-top:		15px;
		position:			relative;
		display:			table;
		height:				100%;
		width:				100%;

	}


	#page-contato-content-assunto { padding-bottom: 45px; }


	#page-contato-content-assunto-titulo {

		text-transform:	uppercase;
		padding-bottom:	10px;
		display:		table;
		width:			100%;

	}

	.page-contato-content-assunto-col {
		
		padding-bottom:	10px;
		display:		table;
		width:			50%;
		float:			left;

	}

	#page-contato-content ion-input,
	#page-contato-content ion-datetime,
	#page-contato-content ion-textarea {

		background-color:	#FFFFFF;
		margin-bottom:		20px;
		
	}

	#page-contato-content ion-textarea { height: 100px; padding-top: 5px; padding-bottom: 5px; }

	#assunto { width: 100% !important; display: table; position: relative; max-width: 100%; padding: 15px 0px 0px 0px; margin-bottom: 0px; font-size: 14px; }
	.select-text { float: left !important; }
	.select-icon { float: right !important; }


	#page-contato-content button {

		text-transform:		uppercase;
		text-align:			center;
		font-size:			15px;
		position:			relative;
		padding:			10px;
		display:			table;
		width:				100%;

	}


	#carregando-icon {

		animation-name: spin;
		animation-duration: 5000ms;
		animation-iteration-count: infinite;
		animation-timing-function: linear; 

	}


	@keyframes spin {

		from { transform:rotate(0deg); }
		to { transform:rotate(360deg); }

	}

}