<ion-header>

	<ion-navbar>

		<ion-title style="margin-left: -32px;"><img src="assets/imgs/logo.png" alt="Tenis Clube Suzano" class="img-fluid img-responsive" style="width: 30%; position: relative; display: table; margin: 0px auto;" /></ion-title>

	</ion-navbar>

</ion-header>


<ion-content>

	<ion-grid id="page-noticia">
		
		<ion-row *ngIf="carregado == -1">

			<ion-col text-center>

				<h2>Notícia não encontrada!</h2>

			</ion-col>

		</ion-row>
		<ion-row *ngIf="carregado == 0">

			<ion-col text-center>

				<ion-icon id="carregando-icon" name="refresh-circle"></ion-icon>
				<h2>Carregando ...</h2>

			</ion-col>

		</ion-row>
		<ion-row *ngIf="carregado == 1">

			<ion-col col-12>

				<h2 [innerHTML]="noticia.titulo"></h2>

			</ion-col>
			<ion-col col-12>

				<img [src]="noticia.imagem" class="img-fluid img-responsive" />

			</ion-col>
			<ion-col col-12>

				<div [innerHTML]="noticia.texto"></div>

			</ion-col>

		</ion-row>

	</ion-grid>

</ion-content>
