<!-- =====> START - CABEÇALHO DA PÁGINA <===== -->
<ion-header>

	<ion-navbar>

		<button ion-button menuToggle>

			<ion-icon name="menu"></ion-icon>

		</button>
		<ion-title style="margin-left: -32px;"><img src="assets/imgs/logo.png" alt="Tenis Clube Suzano" class="img-fluid img-responsive" style="width: 30%; position: relative; display: table; margin: 0px auto;" /></ion-title>

	</ion-navbar>

</ion-header>
<!-- =====> END - CABEÇALHO DA PÁGINA <===== -->


<!-- =====> START - CONTEUDO DA PÁGINA <===== -->
<ion-content>

	<!-- =====> START - BANNERS <===== -->
	<ion-slides id="banners">
	
		<ion-slide id="banner-{{ banner.numero }}" *ngFor="let banner of Banners">

			<img [src]="banner.imagem" class="img-fluid img-responsive banner-image" />

		</ion-slide>

	</ion-slides>
	<!-- =====> END - BANNERS <===== -->

	<!-- =====> START - ICONES <===== -->
	<ion-grid id="page-home-icons">

		<ion-row class="page-home-icons">

			<ion-col>
				
				<a id="page-home-icon-area-do-socio" href="https://portal.multiclubes.com.br/tcs/login.aspx?ReturnUrl=%2ftcs%2f" class="page-home-icons-btn">

					<ion-icon name="key"></ion-icon>
					<div>Área do<br />Sócio</div>
					
				</a>

			</ion-col>

		</ion-row>

		<ion-row class="page-home-icons">
			
			<ion-col>

				<button id="page-home-icon-noticias" (click)="GoToPage('noticias')" class="page-home-icons-btn">

					<ion-icon name="paper"></ion-icon>
					<div>Notícias</div>
					
				</button>

			</ion-col>
			<ion-col>

				<button id="page-home-icon-eventos" (click)="GoToPage('eventos')" class="page-home-icons-btn">

					<ion-icon name="star"></ion-icon>
					<div>Eventos</div>
					
				</button>

			</ion-col>
			<ion-col>

				<button id="page-home-icon-grades" (click)="GoToPage('grades')" class="page-home-icons-btn">

					<ion-icon name="clock"></ion-icon>
					<div>Grades</div>
					
				</button>

			</ion-col>

		</ion-row>
		<ion-row class="page-home-icons">
			
			<ion-col>

				<button id="page-home-icon-galerias" (click)="GoToPage('galerias')" class="page-home-icons-btn">

					<ion-icon name="camera"></ion-icon>
					<div>Galerias</div>
					
				</button>

			</ion-col>
			<ion-col>

				<button id="page-home-icon-cupons" (click)="GoToPage('cupons')" class="page-home-icons-btn">

					<ion-icon name="closed-captioning"></ion-icon>
					<div>Cupons</div>
					
				</button>

			</ion-col>
			<ion-col>

				<button id="page-home-icon-contato" (click)="GoToPage('contato')" class="page-home-icons-btn">

					<ion-icon name="mail"></ion-icon>
					<div>Contato</div>
					
				</button>

			</ion-col>

		</ion-row>

	</ion-grid>
	<!-- =====> END - ICONES <===== -->

	<ion-grid id="page-home">

		<!-- =====> START - BOX <===== -->

		<!-- BOX Conheça nosso parque AQUÁTICO -->
		<ion-row id="page-home-box-parque" class="page-home-box">

			<ion-col>

				<a href="http://tenisclubedesuzano.com.br/parque-aquatico/">

					<ion-icon name="help-buoy"></ion-icon>
					<h3>
						
						Conheça nosso parque
						<div>AQUÁTICO</div>

					</h3>

				</a>

			</ion-col>

		</ion-row>


		<!-- BOX Conheça nossa ACADEMIA -->
		<ion-row id="page-home-box-academia" class="page-home-box">

			<ion-col>

				<a href="http://tenisclubedesuzano.com.br/academia">
					
					<ion-icon name="bicycle"></ion-icon>
					<h3>
						
						Conheça nossa
						<div>ACADEMIA</div>

					</h3>

				</a>

			</ion-col>

		</ion-row>


		<!-- BOX Como Chegar -->
		<ion-row id="page-home-box-mapa" class="page-home-box">

			<ion-col>

				<button (click)="GoToPage('mapa')">

					<ion-icon name="map"></ion-icon>
					<h3>

						Veja como chegar
						<div>NO CLUBE</div>

					</h3>

				</button>

			</ion-col>

		</ion-row>

		<!-- =====> END - BOX <===== -->

		<!-- =====> START - NOTICIAS <===== -->
		<ion-row>

			<ion-col>
				
				<br />
				<hr size="1" style="position: relative; display: table; width: 75%; margin: 0px auto;" />
				<br />
				<h5 text-center>Últimas notícias</h5>

			</ion-col>

		</ion-row>


		<ion-row  *ngIf="NoticiasTotal == -2">

			<ion-col text-center>

				<h2>Falha ao carregar as notícias do clube.</h2>

			</ion-col>

		</ion-row>


		<ion-row  *ngIf="NoticiasTotal == -1">

			<ion-col text-center>

				<ion-icon id="carregando-icon" name="refresh-circle"></ion-icon>
				<h2>Carregando ...</h2>

			</ion-col>

		</ion-row>


		<ion-row *ngIf="NoticiasTotal == 0">
			
			<ion-col text-center>

				<h2>Sem notícias a serem exibidas no momento.</h2>

			</ion-col>

		</ion-row>


		<ion-row id="page-home-content" *ngIf="NoticiasTotal >= 1">

			<ion-col *ngFor="let noticia of Noticias" class="page-home-content-item" (click)="ShowNoticia(noticia.noticia_id)">

				<ion-row>

					<ion-col col-3>

						<img [src]="noticia.imagem" class="img-fluid img-responsive" />

					</ion-col>
					<ion-col col-9>

						<div class="page-home-content-item-title" [innerHTML]="noticia.data_noticia"></div>
						<div class="page-home-content-item-title" [innerHTML]="noticia.titulo"></div>

					</ion-col>

				</ion-row>

			</ion-col>

		</ion-row>
		<!-- =====> END - NOTICIAS <===== -->
		
	</ion-grid>

</ion-content>
<!-- =====> END - CONTEUDO DA PÁGINA <===== -->