page-home {

	/* ION-Content da página */
	ion-content {

		background-color:	#ECECEC !important;
		position:			relative;
		display:			table;
		height:				100%;
		width:				100%;

	}



	/* Banners da página */
	#banners {
		
		margin-bottom:		25px;
		margin-right:		auto !important;
		margin-left:		auto !important;
		margin-top:			25px;
		position:			relative;
		display:			table;
		height:				auto !important;
		width:				300px !important;

	}


	#banners ion-slide { width: 100% !important; }


	.banner-image { border-radius: 4px; }



	/* Container da página */
	ion-grid { 

		background-color:	#ECECEC !important;
		padding-bottom:		15px;
		position:			relative;
		display:			table;
		height:				100%;
		width:				100%;
		
	}


	#page-home {

		background-color:	#ECECEC;
		position:			relative;
		display:			table;
		height:				100%;
		width:				100%;

	}



	/* Icones da página */
	#page-home-icons { height: auto; margin-bottom: 30px; max-width: 330px; }
	.page-home-icons ion-col { padding: 10px; }


	.page-home-icons-btn {

		text-decoration:	none;
		text-transform:		uppercase;
		border-radius:		8px;
		min-height:			90px;
		text-align:			center;
		position:			relative;
		padding:			10px;
		display:			table;
		cursor:				pointer;
		width:				100%;
		color:				#FFFFFF;

	}

	.page-home-icons-btn ion-icon { position: relative; display: table; width: 100%; font-size: 38px; }
	.page-home-icons-btn div { position: relative; display: table; width: 100%; margin-top: 5px; }

	#page-home-icon-area-do-socio { background-color: #323493; margin-bottom: 20px; min-height: 90px; padding-top: 5px; }
	#page-home-icon-noticias { background-color: #269540; }
	#page-home-icon-eventos { background-color: #B6233D; }
	#page-home-icon-grades { background-color: #25387F; }
	#page-home-icon-galerias { background-color: #A98D2B; }
	#page-home-icon-cupons { background-color: #F18F1A; }
	#page-home-icon-contato { background-color: #2C8DB5; }



	/* Box da página */
	.page-home-box {

		border-radius:		5px;
		margin-bottom:		30px;
		margin-right:		auto;
		margin-left:		auto;
		max-width:			300px;
		position:			relative;
		display:			table;
		width:				100%;
		color:				#FFFFFF;

	}

	.page-home-box a,
	.page-home-box button {

		text-decoration:	none;
		background-color:	transparent;
		text-align:			left;
		position:			relative;
		display:			table;
		padding:			0px 20px;
		border:				0px;
		color:				#FFFFFF;
		width:				100%;

	}

	.page-home-box ion-icon {

		font-weight:	100;
		font-size:		50px;
		position:		relative;
		display:		table;
		margin:			0px 15px 0px 0px;
		float:			left;

	}


	.page-home-box h3 {

		font-weight:		400;
		font-size:			15px;
		padding:			0px;
		margin:				-5px 0px -10px 0px;

	}


	.page-home-box div { font-weight: 900; font-size: 33px; }


	#page-home-box-parque { background-color: #269540; }
	#page-home-box-academia { background-color: #B6233D; }
	#page-home-box-mapa { background-color: #F18F1A; }



	/* Content da página */
	#page-home-content {
		
		padding-bottom:		10px;
		padding-right:		15px;
		padding-left:		15px;
		position:			relative;
		display:			table;
		width:				100%;

	}
	

	
	/* Itens do content da página */
	.page-home-content-item {

		background-color:	#FFFFFF;
		border-radius:		5px;
		margin-bottom:		20px;
		margin-right:		auto;
		margin-left:		auto;
		margin-top:			10px;
		max-width:			300px;
		font-size:			12px;
		position:			relative;
		display:			table;
		padding:			5px;
		width:				100%;

	}


	.page-home-content-item-title { font-weight: bold; color: #1d2127; }
	.page-home-content-item-text { color: #666666; }



	/* Icone carregando da página */
	#carregando-icon {

		font-size: 54px;
		animation-name: spin;
		animation-duration: 1000ms;
		animation-iteration-count: infinite;
		animation-timing-function: linear; 
		margin-bottom: 15px;

	}

	/* Animação do icone carregando da página */
	@keyframes spin {

		from { transform:rotate(0deg); }
		to { transform:rotate(360deg); }

	}

}
