page-mapa {

	/* ION-Content da página */
	ion-content {

		background-color:	#ECECEC !important;
		position:			relative;
		display:			table;
		height:				100%;
		width:				100%;

	}


	ion-grid { padding: 0px !important; }
	#page-mapa {

		background-color:	#ECECEC !important;
		position:			relative;
		display:			table;
		padding:			0px !important;
		height:				100%;
		width:				100%;

	}

	ion-row, ion-col {
		
		background-color:	#ECECEC !important;
		position:			relative;
		display:			table;
		padding:			0px !important;
		height:				100%;
		width:				100%;

	}

}
