<ion-header>

	<ion-navbar>

		<button ion-button menuToggle>

			<ion-icon name="menu"></ion-icon>

		</button>
		<ion-title style="margin-left: -32px;"><img src="assets/imgs/logo.png" alt="Tenis Clube Suzano" class="img-fluid img-responsive" style="width: 30%; position: relative; display: table; margin: 0px auto;" /></ion-title>

	</ion-navbar>

</ion-header>
<ion-content>

	<ion-grid id="page-mapa">

		<ion-row>

			<ion-col>
				
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14627.48860262013!2d-46.3267011!3d-23.5730348!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3fd54e8d817e4a82!2sT%C3%AAnis+Clube+de+Suzano!5e0!3m2!1spt-BR!2sbr!4v1550424960084" frameborder="0" style="border:0; width: 100%; height: 100%; position: relative; display: table;"></iframe>

			</ion-col>

		</ion-row>

	</ion-grid>

</ion-content>