<ion-header>

	<ion-navbar>

		<ion-title style="margin-left: -32px;"><img src="assets/imgs/logo.png" alt="Tenis Clube Suzano" class="img-fluid img-responsive" style="width: 30%; position: relative; display: table; margin: 0px auto;" /></ion-title>

	</ion-navbar>

</ion-header>


<ion-content>

	<ion-grid class="page-galeria" *ngIf="carregado == -1">

		<ion-row>

			<ion-col text-center>

				<h2>Galeria não encontrada!</h2>

			</ion-col>

		</ion-row>

	</ion-grid>
	<ion-grid class="page-galeria" *ngIf="carregado == 0">
		
		<ion-row>

			<ion-col text-center>

				<ion-icon id="carregando-icon" name="refresh-circle"></ion-icon>
				<h2>Carregando ...</h2>

			</ion-col>

		</ion-row>

	</ion-grid>
	<ion-grid class="page-galeria" *ngIf="carregado == 1">

		<ion-row>

			<ion-col col-12 text-center>

				<img [src]="Galeria.capa" class="img-fluid img-responsive" />

			</ion-col>
			<ion-col col-12 text-center>

				<h2 [innerHTML]="Galeria.titulo"></h2>
				<div [innerHTML]="Galeria.texto"></div>

			</ion-col>

		</ion-row>
		<ion-row *ngIf="GaleriaTotal == 0">

			<ion-col text-center>

				<h4>Esta galeria não possui nenhum conteudo a ser exibido.</h4>

			</ion-col>

		</ion-row>
		<ion-row *ngIf="GaleriaTotal >= 1">
			
			<ion-col col-12 *ngFor="let item of GaleriaItens">

				<hr size="1" />
				<br />
				<div *ngIf="item.tipo == 1" text-center>
					
					<img [src]="item.conteudo" class="img-fluid img-responsive" />

				</div>
				<br />

			</ion-col>

		</ion-row>

	</ion-grid>

</ion-content>