<ion-header>

	<ion-navbar>

		<ion-title>ATUALIZAÇÃO</ion-title>

	</ion-navbar>

</ion-header>


<ion-content>

	<ion-grid id="page-atualizar-app">

		<ion-row>

			<ion-col col-12 text-center>

				<h2>Atualização Necessária</h2>
				<br />
				Parece que existe uma atualização de nosso aplicativo, por favor faça a instalação antes de continuar utilizando o app do Tenis Clube de Suzano.
				<br />
				<br />
				<button ion-button (click)="AtualizarApp()">Atualizar</button>

			</ion-col>

		</ion-row>

	</ion-grid>

</ion-content>