<ion-header>

	<ion-navbar>

		<button ion-button menuToggle>

			<ion-icon name="menu"></ion-icon>

		</button>
		<ion-title style="margin-left: -32px;"><img src="assets/imgs/logo.png" alt="Tenis Clube Suzano" class="img-fluid img-responsive" style="width: 30%; position: relative; display: table; margin: 0px auto;" /></ion-title>

	</ion-navbar>

</ion-header>


<ion-content>

	<ion-grid id="page-horarios">

		<ion-row *ngIf="Total == -2">

			<ion-col text-center>

				<h2>Erro ao carregar os horários de funcionamento das atrações do clube.</h2>

			</ion-col>

		</ion-row>
		<ion-row *ngIf="Total == -1">

			<ion-col text-center>

				<ion-icon id="carregando-icon" name="refresh-circle"></ion-icon>
				<h2>Carregando ...</h2>

			</ion-col>

		</ion-row>
		<ion-row *ngIf="Total == 0">

			<ion-col text-center>

				<h2>Não existem horários disponiveis a serem exibidos.</h2>

			</ion-col>

		</ion-row>
		<ion-row *ngIf="Total >= 1">

			<ion-col class="card-background-page" col-12 *ngFor="let horario of Horarios">
				
				<ion-card>

					<img [src]="horario.imagem" class="img-fluid img-responsive" />
					<div class="card-title" [innerHTML]="horario.nome"></div>
					<ion-card-content>
						<div [innerHTML]="horario.texto"></div>
					</ion-card-content>

				</ion-card>
			
			</ion-col>

		</ion-row>

	</ion-grid>
	
</ion-content>