<!-- =====> START - CABEÇALHO DA PÁGINA <===== -->
<ion-header>

	<ion-navbar>

		<button ion-button menuToggle>

			<ion-icon name="menu"></ion-icon>

		</button>
		<ion-title style="margin-left: -32px;"><img src="assets/imgs/logo.png" alt="Tenis Clube Suzano" class="img-fluid img-responsive" style="width: 30%; position: relative; display: table; margin: 0px auto;" /></ion-title>

	</ion-navbar>

</ion-header>
<!-- =====> END - CABEÇALHO DA PÁGINA <===== -->

<ion-content>

	<!-- =====> START - CONTEUDO DA PÁGINA <===== -->
	<ion-grid id="page-noticias">

		<ion-row>

			<ion-col>
				
				<h5>Notícias</h5>

			</ion-col>

		</ion-row>
		<ion-row  *ngIf="NoticiasTotal == -2">

			<ion-col text-center>

				<h2>Falha ao carregar as notícias do clube.</h2>

			</ion-col>

		</ion-row>
		<ion-row  *ngIf="NoticiasTotal == -1">

			<ion-col text-center>

				<ion-icon id="carregando-icon" name="refresh-circle"></ion-icon>
				<h2>Carregando ...</h2>

			</ion-col>

		</ion-row>
		<ion-row *ngIf="NoticiasTotal == 0">
			
			<ion-col text-center>

				<h2>Sem notícias a serem exibidas no momento.</h2>

			</ion-col>

		</ion-row>
		<ion-row id="page-noticias-content" *ngIf="NoticiasTotal >= 1">

			<ion-col col-12 *ngFor="let noticia of Noticias" class="page-noticias-content-item" (click)="ShowNoticia(noticia.noticia_id)">

				<ion-row>

					<ion-col col-3 text-center>

						<img [src]="noticia.imagem" class="img-fluid img-responsive" />

					</ion-col>
					<ion-col col-9>

						<div class="page-noticias-content-item-title" [innerHTML]="noticia.data_noticia"></div>
						<div class="page-noticias-content-item-title" [innerHTML]="noticia.titulo"></div>

					</ion-col>

				</ion-row>

			</ion-col>

		</ion-row>
		<ion-row *ngIf="NoticiasTotal >= 6">
			
			<ion-col *ngIf="totalPage >= NoticiasTotal" text-center><i>Sem mais notícias</i></ion-col>

		</ion-row>

	</ion-grid>
	<!-- =====> END - CONTEUDO DA PÁGINA <===== -->


	<!-- =====> START - SCROLL FUNCTION DA PÁGINA <===== -->
	<ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="totalPage < NoticiasTotal">

		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando..."></ion-infinite-scroll-content>

	</ion-infinite-scroll>
	<!-- =====> END - SCROLL FUNCTION DA PÁGINA <===== -->

</ion-content>