<ion-header>

	<ion-navbar>

		<button ion-button menuToggle>

			<ion-icon name="menu"></ion-icon>

		</button>
		<ion-title style="margin-left: -32px;"><img src="assets/imgs/logo.png" alt="Tenis Clube Suzano" class="img-fluid img-responsive" style="width: 30%; position: relative; display: table; margin: 0px auto;" /></ion-title>

	</ion-navbar>

</ion-header>
<ion-content>

	<ion-grid id="page-sobre-nos">

		<ion-row>

			<ion-col>
				
				<h1>Sobre nós</h1>
				<br />
				O Tênis Clube Suzano é completo e tradicional, conta com academia completa, parque aquático com ótima infraestrutura, campo de futebol, salão de jogos, espaço com churrasqueira, diversas modalidades esportivas, parque infantil com vários tipos de brinquedos, ampla área verde e muito mais.
				<br />
				<br />
				<br />
				Nosso objetivo é oferecer um ambiente familiar, seguro e agradável para que nossos associados desfrutem de momentos incríveis. Temos um calendário repleto de atividades esportivas, sociais e culturais. Nossa programação é repleta de opções para adultos, jovens e crianças.
				<br />
				<br />
				<br />
				Venha conhecer nossa proposta e invista em qualidade de vida para você e sua família!
				<br />
				<br />
				<br />
				<img src="assets/imgs/sobre-nos.jpg" alt="Tenis Clube Suzano" class="img-fluid img-responsive" />

			</ion-col>

		</ion-row>

	</ion-grid>

</ion-content>