page-sobre {

	/* ION-Content da página */
	ion-content {

		background-color:	#ECECEC !important;
		position:			relative;
		display:			table;
		height:				100%;
		width:				100%;

	}


	#page-sobre-nos {

		background-color:	#ECECEC !important;
		padding-bottom:		15px;
		padding-top:		15px;
		position:			relative;
		display:			table;
		height:				100%;
		width:				100%;

	}

}