.btn-automator { color: #FFFFFF; }

.dropdown-menu-center {

	text-align:	center !important;
	transform:	translate(-50%, 0) !important;
	right:		auto !important;
	left:		50% !important;

}


.w-5 { width: 5%; }
.w-13 { width: 13%; }
.w-15 { width: 15%; }
.w-20 { width: 20%; }
.w-30 { width: 30%; }
.w-40 { width: 40%; }


html, body {

	background-color:	#ECECEC;
	position:			relative;
	display:			table;
	height:				100%;
	width:				100%;

}


#app {

	min-height:	100%;
	min-width:	100%;
	position:	relative;
	display:	table;
	height:		100%;
	width:		100%;

}


main {

	background-color:	#ECECEC;
	min-height:			100%;
	min-width:			100%;
	position:			relative;
	display:			table;
	height:				100%;
	width:				100%;

}


main > .container-fluid,
main > .container-fluid > .row { height: 100%; }


/* ----- SIDEBAR ----- */

#sidebar {

	background-color:	#293F52;
	padding-right:		1px;
	padding-left:		0px;
	padding-top:		70px;
	position:			absolute;
	z-index:			2;
	display:			inline-block;
	z-index:			10;
	height:				auto;
	min-height: 		100%;
	color:				#FFFFFF;

}


.sidebar-btn {

	border-bottom-right-radius:	5px;
	border-top-right-radius:	5px;
	background-color:			#CCCCCC;
	margin-top:					20px;
	position:					absolute;
	padding:					9px 10px;
	cursor:						pointer;
	color:						#000000;
	right:						-30px;

}


.sidebar-closed { right: 100%; }
.sidebar-opened { right: auto !important; }


.sidebar-btn-hidden { display: none !important; }
.sidebar-btn-show { display: table }


#sidebar-title {

	text-transform:	uppercase;
	padding-bottom:	10px;
	padding-left:	15px;
	font-weight:	bold;
	position:		relative;
	display:		table;
	width:			100%;

}


#sidebar-nav {

	list-style:	none;
	font-size:	13px;
	position:	relative;
	display:	inline-block;
	padding:	0px;
	margin:		0px;
	width:		100%;

}


.sidebar-nav-item {

	border-top:		0.1px solid #293F52;
	position:		relative;
	display:		inline-block;
	padding:		1px 0px;
	width:			100%;

}


.sidebar-nav-item-link {

	background-position:	100% 0;
	background-image:		linear-gradient(to right, black, black 50%, #34495B 50%, #34495B);
	background-size:		200% 100%;
	text-decoration:		none;
	border-left:			4px solid black;
	transition:				all .25s ease-in;
	position:				relative;
	display:				flex;
	padding:				12px 5px 10px 15px;
	width:					100%;
	cursor:					pointer;
	color:					#FFFFFF;

}


.sidebar-nav-item-link:hover{

	background-position:	0 0;
	text-decoration:		none;
	color:					#FFFFFF;

}


.sidebar-nav-item-link-content {

	overflow-wrap:	break-word;
	position:		relative;
	display:		inline-block;
	height:			auto;
	float:			left;
	width:			76%;

}


.sidebar-nav-item-link-icon {
	
	position:	relative;
	display:	inline-block;
	width:		20px;
	float:		left;

}


.sidebar-nav-item-link-arrow {
	
	text-align:	center;
	position:	absolute;
	right:		5px;
	width:		20px;

}


.sidebar-nav-item-submenu-container {
	
	font-size:	12px;
	position:	relative;
	display:	none;
	width:		100%;

}


.sidebar-nav-item-submenu-container-item {

	overflow-wrap:		break-word;
	border-top:			0.1px solid #293F52;
	position:			relative;
	padding:			12px 15px 10px 39px;
	display:			inline-block;
	width:				100%;
	color:				#FFFFFF;

}


.sidebar-nav-item-submenu-container-item:hover {

	background-color:	rgba(0, 0, 0, 0.3);
	text-decoration:	none;
	color:				#FFFFFF;

}


/* ----- CONTENT ----- */


#content {

	background-color:	#ECECEC;
	padding-bottom:		80px;
	padding-left:		30px;
	padding-top:		80px;
	position:			relative;
	display:			inline-block;
	height:				100%;

}


#header-nav li { padding-left: 5px; }
#header-nav a { color: #000000; }

#user-picture {

	background-color:	#EFEFEF;
	border-radius:		100%;
	margin-top:			3px;
	border:				3px solid #CCCCCC;

}


#user-picture > span {
	
	border-radius:		100%;
	padding:			6px 8px;
	border:				2px solid #FFFFFF;
	color:				#444444;

}


#account-page .nav a { color: #000000; }


#account-page-title { width: 100%; text-align: center; }



#profile-user-picture {

	background-color:	#EFEFEF;
	border-radius:		100%;
	max-width:			160px;
	position:			relative;
	display:			table;
	margin:				50px auto 40px auto;
	border:				3px solid #CCCCCC;
	width:				100%;

}

#profile-user-picture > span {
	
	border-radius:		100%;
	font-size:			40px;
	padding:			50px 8px;
	border:				2px solid #FFFFFF;
	color:				#444444;
	width:				100%;

}



#account-user-picture {

	background-color:	#EFEFEF;
	border-radius:		100%;
	max-width:			200px;
	position:			relative;
	display:			table;
	margin:				50px auto 40px auto;
	border:				3px solid #CCCCCC;
	width:				100%;

}

#account-user-picture > span {
	
	border-radius:		100%;
	font-size:			40px;
	padding:			70px 8px;
	border:				2px solid #FFFFFF;
	color:				#444444;
	width:				100%;

}


/* ----- PAGINATOR ----- */


.btn-automator { margin: 10px; }
.table-paginator tbody > tr > td { vertical-align: middle; }


#paginator-search-form {
	
	margin-top:	8px;
	position:	relative;
	display:	table;
	width:		80%;
	float:		right;

}

#paginator-search-input {

	border-bottom-left-radius:	12px;
	border-top-left-radius:		12px;
	font-size:					13px;
	padding:					5px 12px;
	border:						0px;
	height:						auto;

}


.paginator-search-form-submit {

	border-bottom-right-radius:	12px;
	border-top-right-radius:	12px;
	background-color:			#FFFFFF !important;
	font-size:					13px;
	border:						0px;

}

#paginator-search-cancel {
	
	border-radius:	100%;
	margin-left:	10px;
	font-weight:	300;
	margin-top:		11px;
	font-size:		11px;
	position:		relative;
	padding:		2px 7px;
	display:		table;
	float:			right;

}

#paginator-links {

	position:	relative;
	display:	table;
	margin:		0px auto;

}


#page-loader {

	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	z-index: 9999;
	display: none;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;

}


#page-loader table {

	text-align: center;
	font-size: 30px;
	position: relative;
	display: table;
	height: 100%;
	width: 100%;
	color: #FFFFFF;

}