<!-- =====> START - CABEÇALHO DA PÁGINA <===== -->
<ion-header>

	<ion-navbar>

		<button ion-button menuToggle>

			<ion-icon name="menu"></ion-icon>

		</button>
		<ion-title style="margin-left: -32px;"><img src="assets/imgs/logo.png" alt="Tenis Clube Suzano" class="img-fluid img-responsive" style="width: 30%; position: relative; display: table; margin: 0px auto;" /></ion-title>

	</ion-navbar>

</ion-header>
<!-- =====> END - CABEÇALHO DA PÁGINA <===== -->


<ion-content>

	<ion-grid id="page-cupons">
		
		<ion-row *ngIf="carregado == -1">

			<ion-col text-center>

				<h2>Página não localizada!</h2>

			</ion-col>

		</ion-row>
		<ion-row *ngIf="carregado == 0">

			<ion-col text-center>

				<ion-icon id="carregando-icon" name="refresh-circle"></ion-icon>
				<h2>Carregando ...</h2>

			</ion-col>

		</ion-row>
		<ion-row *ngIf="carregado == 1">

			<ion-col col-12>

				<h2 [innerHTML]="pagina.titulo"></h2>

			</ion-col>
			<ion-col col-12>

				<div [innerHTML]="pagina.texto"></div>

			</ion-col>

		</ion-row>

	</ion-grid>

</ion-content>