page-grades {

	ion-toolbar {

		padding: 0px !important;
		min-height: auto !important;

	}

	ion-content {

		background-color:	#ECECEC !important;
		position:			relative;
		display:			table;
		height:				100%;
		width:				100%;

	}


	#page-grades {

		background-color:	#ECECEC !important;
		padding-bottom:		15px;
		padding-top:		75px;
		position:			relative;
		display:			table;
		height:				100%;
		width:				100%;

	}


	ion-card { margin-bottom: 30px !important; }
	ion-card-header { font-weight: bold; }

	#carregando-icon {

		font-size: 54px;
		animation-name: spin;
		animation-duration: 1000ms;
		animation-iteration-count: infinite;
		animation-timing-function: linear; 
		margin-bottom: 15px;
		/* transform: rotate(3deg); */
		/* transform: rotate(0.3rad);/ */
		/* transform: rotate(3grad); */ 
		/* transform: rotate(.03turn);  */

	}


	@keyframes spin {

		from { transform:rotate(0deg); }
		to { transform:rotate(360deg); }

	}

}
