<ion-header>

	<ion-navbar>

		<button ion-button menuToggle>

			<ion-icon name="menu"></ion-icon>

		</button>
		<ion-title style="margin-left: -32px;"><img src="assets/imgs/logo.png" alt="Tenis Clube Suzano" class="img-fluid img-responsive" style="width: 30%; position: relative; display: table; margin: 0px auto;" /></ion-title>

	</ion-navbar>
	<ion-toolbar no-border-top *ngIf="CategoriasTotal >= 1">

		<ion-segment [(ngModel)]="Categoria">

			<ion-segment-button *ngFor="let categoria of Categorias" (click)="ShowCategoria(categoria.categoria_id)" value="{{ categoria.categoria_id }}">{{ categoria.categoria_nome }}</ion-segment-button>

		</ion-segment>

	</ion-toolbar>

</ion-header>


<ion-content>

	<ion-grid id="page-grades">

		<ion-row *ngIf="CategoriasTotal == -2">
			
			<ion-col text-center>

				<h3>Erro ao carregar as grades, por favor tente novamente mais tarde.</h3>

			</ion-col>

		</ion-row>


		<!-- Carregando... -->
		<ion-row *ngIf="CategoriasTotal == -1">
			
			<ion-col text-center>

				<ion-icon id="carregando-icon" name="refresh-circle"></ion-icon>
				<h2>Carregando ...</h2>

			</ion-col>

		</ion-row>
		<ion-row *ngIf="CategoriasTotal == 0">
			
			<ion-col>

				<h3 text-center>Não existem grades a serem exibidas.</h3>

			</ion-col>

		</ion-row>

		<!-- Se existirem categorias cadastradas. -->
		<ion-row *ngIf="CategoriasTotal >= 1">

			<ion-col>

				<div *ngFor="let categoria of Categorias">

					<div *ngIf="Categoria == categoria.categoria_id">
						
						<ion-card *ngFor="let item of categoria.categoria_itens">

							<ion-card-header [innerHTML]="item.atividade_nome"></ion-card-header>
							<ion-card-content [innerHTML]="item.atividade_descricao"></ion-card-content>
							<ion-row>

								<ion-col text-center>

									<button (click)="ShowGrade(item.atividade_id)" ion-button icon-start clear small>

										<div>Visualizar<br />Horários</div>

									</button>

								</ion-col>
								<ion-col align-self-center text-center>

									<ion-icon name="clock"></ion-icon>
									<br />
									<ion-note>{{ item.atividade_total }} Horário(s)<br />disponivel/disponiveis.</ion-note>

								</ion-col>

							</ion-row>
							
						</ion-card>

					</div>

				</div>
				
			</ion-col>

		</ion-row>

	</ion-grid>
	
</ion-content>