page-galerias {

	/* ION-Content da página */
	ion-content {

		background-color:	#ECECEC !important;
		position:			relative;
		display:			table;
		height:				100%;
		width:				100%;

	}
	

	#page-galerias {

		background-color:	#ECECEC !important;
		padding-bottom:		15px;
		padding-top:		15px;
		position:			relative;
		display:			table;
		height:				100%;
		width:				100%;

	}


	ion-card { position: relative; text-align: center; }
	

	.card-title {

		font-weight:	bold;
		font-size:		2.0em;
		position:		absolute;
		width:			95%;
		color:			#FFFFFF;
		top:			36%;

	}


	.card-subtitle {
		
		font-size:		1.0em;
		position:		absolute;
		width:			100%;
		color:			#FFFFFF;
		top:			52%;

	}

	ion-card-content { color: #000000 !important; }


	#carregando-icon {

		font-size: 54px;
		animation-name: spin;
		animation-duration: 1000ms;
		animation-iteration-count: infinite;
		animation-timing-function: linear; 
		margin-bottom: 15px;
		/* transform: rotate(3deg); */
		/* transform: rotate(0.3rad);/ */
		/* transform: rotate(3grad); */ 
		/* transform: rotate(.03turn);  */

	}


	@keyframes spin {

		from { transform:rotate(0deg); }
		to { transform:rotate(360deg); }

	}

}
