<ion-header>

	<ion-navbar>

		<button ion-button menuToggle>

			<ion-icon name="menu"></ion-icon>

		</button>
		<ion-title style="margin-left: -32px;"><img src="assets/imgs/logo.png" alt="Tenis Clube Suzano" class="img-fluid img-responsive" style="width: 30%; position: relative; display: table; margin: 0px auto;" /></ion-title>

	</ion-navbar>

</ion-header>


<ion-content>
	
	<ion-grid id="page-galerias">

		<ion-row *ngIf="Total == -2">

			<ion-col text-center>

				<h2>Erro ao carregar as galerias do clube.</h2>

			</ion-col>

		</ion-row>
		<ion-row *ngIf="Total == -1">

			<ion-col text-center>

				<ion-icon id="carregando-icon" name="refresh-circle"></ion-icon>
				<h2>Carregando ...</h2>

			</ion-col>

		</ion-row>
		<ion-row *ngIf="Total == 0">

			<ion-col text-center>

				<h2>Não existem galerias a serem exibidas.</h2>

			</ion-col>

		</ion-row>
		<ion-row id="page-galerias-content" *ngIf="Total >= 1">

			<ion-col col-12 *ngFor="let galeria of Galerias">
				
				<ion-card (click)="ShowGaleria(galeria.id)">

					<img [src]="galeria.capa" class="img-fluid img-responsive" />
					<div class="card-title" [innerHTML]="galeria.titulo"></div>
					<ion-card-content [innerHTML]="galeria.resumo"></ion-card-content>

				</ion-card>
			
			</ion-col>

		</ion-row>

	</ion-grid>

</ion-content>