.automator-paginator-colorpicker {

	max-height:	20px;
	max-width:	20px;
	position:	relative;
	display:	table;
	margin:		2px auto;
	height:		100%;
	border:		1px solid #000000;
	width:		100%;

}


.automator-paginator-colorpicker > i {

	position:	relative;
	display:	table;
	border:		1px solid #FFFFFF;
	height:		100%;
	width:		100%;

}