page-sem-internet {

	ion-row,
	ion-grid { height: 100% !important; }

	ion-content {

		background-color:	#ECECEC !important;
		position:			relative;
		display:			table;
		height:				100%;
		width:				100%;

	}

	#page-sem-internet {

		padding-bottom:		15px;
		padding-top:		15px;
		position:			relative;
		display:			table;
		height:				100%;
		width:				100%;

	}
	#page-sem-internet-logo { width: 70% !important; }
	#page-sem-internet-icone ion-icon { color: red !important; font-size: 40px !important; }


	#carregando-icon {

		animation-name: spin;
		animation-duration: 5000ms;
		animation-iteration-count: infinite;
		animation-timing-function: linear; 

	}


	@keyframes spin {

		from { transform:rotate(0deg); }
		to { transform:rotate(360deg); }

	}

}
