<!-- =====> START - CABEÇALHO DA PÁGINA <===== -->
<ion-header>

	<ion-navbar>

		<ion-title><img src="assets/imgs/logo.png" alt="Tenis Clube Suzano" class="img-fluid img-responsive" style="width: 30%; position: relative; display: table; margin: 0px auto;" /></ion-title>

	</ion-navbar>

</ion-header>
<!-- =====> END - CABEÇALHO DA PÁGINA <===== -->

<!-- =====> START - CONTEUDO DA PÁGINA <===== -->
<ion-content>

	<ion-grid id="page-sem-internet">

		<ion-row>

			<ion-col align-self-center text-center>

				<img id="page-sem-internet-logo" src="assets/imgs/logo.png" alt="Tenis Clube Suzano" class="img-fluid" />
				<h1 id="page-sem-internet-icone"><ion-icon name="ios-wifi-outline"></ion-icon></h1>
				<h2>Sem Conexão!</h2>
				<div *ngIf="visibilidade == 1">

					<button ion-button (click)="CheckInternet()" color="secondary">Recarregar</button>

				</div>
				<div *ngIf="visibilidade == 0">

					<ion-icon id="carregando-icon" name="refresh-circle"></ion-icon>
					<h2>Carregando ...</h2>
					<h5>Verificando Conexão...</h5>

				</div>

			</ion-col>

		</ion-row>

	</ion-grid>

</ion-content>