page-ajuda {

	/* ION-Content da página */
	ion-content {

		background-color:	#ECECEC !important;
		position:			relative;
		display:			table;
		height:				100%;
		width:				100%;

	}



	/* Container da página */
	#page-ajuda {

		background-color:	#ECECEC !important;
		padding-bottom:		15px;
		position:			relative;
		display:			table;
		height:				100%;
		width:				100%;

	}



	/* Icone carregando da página */
	#carregando-icon {

		font-size: 54px;
		animation-name: spin;
		animation-duration: 1000ms;
		animation-iteration-count: infinite;
		animation-timing-function: linear; 

	}


	/* Animação do icone carregando da página */
	@keyframes spin {

		from { transform:rotate(0deg); }
		to { transform:rotate(360deg); }

	}

}
