<!-- =====> START - CABEÇALHO DA PÁGINA <===== -->
<ion-header>

	<ion-navbar>

		<button ion-button menuToggle>

			<ion-icon name="menu"></ion-icon>

		</button>
		<ion-title style="margin-left: -32px;"><img src="assets/imgs/logo.png" alt="Tenis Clube Suzano" class="img-fluid img-responsive" style="width: 30%; position: relative; display: table; margin: 0px auto;" /></ion-title>

	</ion-navbar>

</ion-header>
<!-- =====> END - CABEÇALHO DA PÁGINA <===== -->

<ion-content>
	
	<!-- =====> START - CONTEUDO DA PÁGINA <===== -->
	<ion-grid id="page-eventos">

		<ion-row  *ngIf="EventosTotal == -2">

			<ion-col text-center>

				<h2>Falha ao carregar os eventos do clube.</h2>

			</ion-col>

		</ion-row>
		<ion-row  *ngIf="EventosTotal == -1">

			<ion-col text-center>

				<ion-icon id="carregando-icon" name="refresh-circle"></ion-icon>
				<h2>Carregando ...</h2>

			</ion-col>

		</ion-row>
		<ion-row *ngIf="EventosTotal == 0">
			
			<ion-col text-center>

				<h2>Sem eventos a serem exibidos no momento.</h2>

			</ion-col>

		</ion-row>
		<ion-row id="page-eventos-content" *ngIf="EventosTotal >= 1">

			<ion-col col-12>Confira o calendário de atividades e funcionamento do Clube e programe-se para curtir tudo!
				<br />
				<br />
				Lembrete: o calendário está sujeito a alterações sem aviso prévio.
				<br />
				<br />

			</ion-col>
			<ion-col col-12 *ngFor="let evento of Eventos" class="page-eventos-content-item" (click)="ShowEvento(evento.evento_id)">

				<ion-row>

					<ion-col col-3 text-center>

						<img [src]="evento.imagem" class="img-fluid img-responsive" />

					</ion-col>
					<ion-col col-9>

						<div class="page-eventos-content-item-data" [innerHTML]="evento.data_evento"></div>
						<div class="page-eventos-content-item-title" [innerHTML]="evento.titulo"></div>
						<div class="page-eventos-content-item-text" [innerHTML]="evento.resumo"></div>

					</ion-col>

				</ion-row>

			</ion-col>

		</ion-row>
		<ion-row *ngIf="EventosTotal >= 6">
			
			<ion-col *ngIf="totalPage >= EventosTotal" text-center><i>Sem mais eventos</i></ion-col>

		</ion-row>

	</ion-grid>
	<!-- =====> END - CONTEUDO DA PÁGINA <===== -->


	<!-- =====> START - SCROLL FUNCTION DA PÁGINA <===== -->
	<ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="totalPage < EventosTotal">

		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando..."></ion-infinite-scroll-content>

	</ion-infinite-scroll>
	<!-- =====> END - SCROLL FUNCTION DA PÁGINA <===== -->

</ion-content>