page-eventos {

	/* ION-Content da página */
	ion-content {

		background-color:	#ECECEC !important;
		position:			relative;
		display:			table;
		height:				100%;
		width:				100%;

	}



	/* Container da página */
	#page-eventos {

		background-color:	#ECECEC !important;
		padding-bottom:		15px;
		padding-top:		15px;
		position:			relative;
		display:			table;
		height:				100%;
		width:				100%;

	}

	

	/* Content da página */
	#page-eventos-content {

		padding-bottom:		10px;
		padding-right:		15px;
		padding-left:		15px;
		position:			relative;
		display:			table;
		width:				100%;

	}


	

	/* Itens do content da página */
	.page-eventos-content-item {

		background-color:	#FFFFFF;
		border-radius:		5px;
		margin-bottom:		20px;
		margin-top:			10px;
		font-size:			12px;
		position:			relative;
		display:			table;
		padding:			5px;
		width:				100%;

	}


	.page-eventos-content-item-data { color: #1d2127; }
	.page-eventos-content-item-title { font-weight: bold; color: #1d2127; }
	.page-eventos-content-item-text { color: #666666; font-size: 16px; }



	/* Icone carregando da página */
	#carregando-icon {

		font-size: 54px;
		animation-name: spin;
		animation-duration: 1000ms;
		animation-iteration-count: infinite;
		animation-timing-function: linear; 

	}


	/* Animação do icone carregando da página */
	@keyframes spin {

		from { transform:rotate(0deg); }
		to { transform:rotate(360deg); }

	}

}