/* Hacks CSS */
/* IE */
.bloco-flutuante {  }
.banner-lower .texto-lower { right: 10%\0/; bottom: 15%\0/; }
.banner-centro .texto-centro { margin-top:5%\0/ }
.banner-baixo .texto-baixo { margin-top:20%\0/ }
.info-contato .ico { width:113px\0/ }

/* Edge */
@supports (-ms-ime-align:auto) {
  .bloco-flutuante {  }
  .banner-lower .texto-lower { right: 10%; bottom: 15%; }
  .banner-centro .texto-centro { margin-top:5% }
  .banner-baixo .texto-baixo { margin-top:20% }
  .info-contato .ico { width:113px }
}


/* Mozilla */
@-moz-document url-prefix() {

}

/* Mobile */
@media screen and (max-width:1900px) {
  .banner-principal .owl-carousel, .banner-principal .owl-stage-outer, .banner-principal .owl-stage, .banner-principal .owl-item, .banner-principal .owl-item img { min-height: 450px; }
}

@media screen and (max-width:1800px) {
  .telefone { position: absolute; right: 15%; }
  header .telefone .ico { padding: 15px; width: 63px; height: 63px; }
  .banner-lower .texto-lower { width: 70%; }
}

@media screen and (max-width:1280px) {
  .banner-lower .texto-lower { width: 76%; right: 5rem;}
  .banner-lower .texto-lower h2 { font-size: 3rem; line-height: 3.2rem; }
  .telefone { position: absolute; right: 30%; }
  .telefone h5 { font-size: 22px; }
  .banner-baixo { background-position: 70% 50%; }
  .bloco > div { width: 100%; height: 90%; }
  .banner-principal { margin-bottom: -16px; }
  .banner-principal, .banner-principal .owl-carousel, .banner-principal .owl-stage-outer, .banner-principal .owl-stage, .banner-principal .owl-item, .banner-principal .owl-item img { height: auto; min-height: auto; min-width:100%; }
  .bloco-flutuante { top: 3.65%; padding: 5px 15px; }
  .bloco-flutuante .ico-imagem { margin-right: 15px; width: 80px; height: 80px; }
  header .telefone .ico { padding: 18px; }
  .banner-flutuante .nowrap h3 { white-space: initial; font-size: 26px; }
  .btn-padrao.duplo { margin: 0; right: 3rem; position: absolute; }
  .titulo h2 { font-size: 2.5rem; }
}

@media screen and (max-width:1024px) {
  .telefone { right: 20%; }
  header .telefone .ico { padding: 11px; width: 43px; height: 43px; font-size: 22px; margin-right: 5px; }
  .titulo { width:70%; }
  .banner-centro .texto-centro { width: 58%; }
  .texto-lower h2 { font-size: 2.438rem!important; }
  .banner-centro { background-position: 65% 50%; }
  .back h4 { font-size: 1rem; }
  .back p { font-size: 13px; }
  .bloco-flutuante { top: 3.15%; }
}

@media screen and (min-width:1200px) and (max-width:1366px) {
  footer .container { max-width: 90%; }
}

@media screen and (min-width:992px) {
  .hidden-md-up { display: none; }
}

@media screen and (max-width:991px) {
  .nav-principal { margin: 10px auto 0; border-top: 1px solid #8eb2f4; padding-top: 10px; }
  .texto-bannerIdx h3 { font-size: 42px; line-height: 52px; }
  .bloco-flutuante { top: 2.5%; }
  .hidden-md-down { display: none; }
  .texto-lower h2 { font-size: 28px!important; line-height: 2.2rem!important; }
  .telefone { float: right; right: 10px; width: auto; display: block; }
  #consultorio .mb-2r img { width: 100%; margin-bottom: 2rem; }
  #faq img { width: 100%; margin-top: 2rem; }
  .banner-centro .texto-centro { width: 100%; }
  .banner-lower .texto-lower { width: 78%; margin-right: -20px; right:3rem; }
  #mapa { min-height: 400px; margin-top: 2rem; }
  footer .redes-sociais { display: inline-block; margin-top: 10px; }
  .menu-lateral { margin-bottom: 3rem; }
  .form { margin: 3rem 0; }
  .b-left { border-left: none; padding-left: 0; }
  section { padding: 3.125rem 0; }
  .texto-lower .btn-padrao { padding: 12px; font-size: 14px; white-space:normal; }
  .btn-padrao.duplo { margin: 0 auto 1rem; right: initial; position: relative; }
  .bloco-flutuante h5 { line-height: 1; }
  .bloco-flutuante .ico-imagem { margin: 5px 0; margin-right: 10px; width: 70px; height: 70px; }
}

@media screen and (max-width:767px) {
  .hidden-sm-up { display: block }
  .hidden-sm-down { visibility: hidden }
  .bloco-flutuante { top: -90px; left: 0; width: 100%; }
  .banner-principal { margin-top: 50px; }
  .row.p-0 { margin-left:0; margin-right:0; }
  .bloco { width: 100%; height: 33.33%; background:#E5F2FD; padding: 15px 30px; }
  .bloco:nth-of-type(2), .bloco:nth-of-type(3), .bloco:nth-of-type(6) { background: #F1F7FD; }
  .flip-container, .front, .back { height: 330px; }
  .titulo { width: 100%; }
  .titulo h2 { line-height: 2.75rem; }
  #consultorio img { width:100%; margin:1rem 0; }
  .banner-baixo .texto-baixo { width: 100%; }
  .banner-baixo { background-position: 80% 50%; }
  .telefone { z-index: 99; top: 103px; }
  .telefone a i, .telefone h5 { color:#FFF; border-color:#FFF; }
  .navbar-toggle { padding: 10px; text-align: center; display: block; margin: 0; width: 60px; height: 60px; border-radius: 100%; position: absolute; right: 10px; z-index: 101; }
  .hamburger { right: 14px; top: 14px; }
  .hamburger.is-open { top: 40px; right: 30px; }
  .copy, .superteia { width: 100%; text-align: center; margin: 0 0 5px; float:none!important; clear:both; display:block }
  .texto-banner { top: 0; left: 0; margin-left: 0;  width: 100%; }
  .texto-banner h2 { font-size:2.3rem }
  .banner-secundaria { padding-top:90px; background: #0078B0; margin-top: -2.5rem;}
  .banner-lower { min-height:400px; }
  .texto-bannerIdx h3 { font-size: 32px; line-height: 34px; }
  .texto-bannerIdx p { font-size: 14px; line-height: 18px; width: 80%; }
  .banner-baixo { min-height:360px; background-position: 65% 50%; }
  .card .titulo-bloco.collapsed { white-space: normal; background-size: 50px 50px; background-position: 100% 50%; padding-right: 50px; line-height:1.5; min-height: 50px; }
  .banner-flutuante .nowrap p { width:100% }
}

@media screen and (max-width:680px) {
  .banner-lower { min-height:400px; }
  .texto-bannerIdx h3 { font-size: 32px; line-height: 34px; }
  .texto-bannerIdx p { font-size: 14px; line-height: 18px; width: 80%; }
  .banner-baixo { min-height:360px; background-position: 65% 50%; }
  h2 { font-size:2.5rem }
  h3 { font-size: 2rem; line-height: 2rem; }
  .banner-centro { min-height: 360px; background-position: 70% 50%; }
}

@media screen and (max-width:597px) {
  .banner-principal { margin-top: 20px; }
  .texto-lower h2 { font-size: 28px; line-height: 2rem; }
  .banner-lower { min-height: 260px; }
  .banner-lower:before { background-position: 50% 20%; }
  .banner-secundaria { margin-top: -4.25rem; }
  footer .container { max-width: 90%; }
}

@media screen and (max-width:575px) {
  .logo { margin-top: 0; margin-bottom: 0; }
  .telefone { top:45px; }
  .btn-padrao { margin:1rem 0 }
  .bloco { height: 250px; }
  .bloco:nth-of-type(2), .bloco:nth-of-type(4), .bloco:nth-of-type(6) { background: #E5F2FD; }
  .bloco:nth-of-type(1), .bloco:nth-of-type(3), .bloco:nth-of-type(5) { background: #F1F7FD; }
  .banner-centro .texto-centro { width: 94%; }
  .banner-flutuante .nowrap p { width: 100%; }
  .banner-flutuante .nowrap h3 { font-size: 24px; }
  footer .topo-rodape, footer .row { margin: 0; }
  .col-xs-6 { width:50%; max-width: 50%; }
  .banner-baixo .texto-baixo { width: 90%; }
}

@media screen and (max-width:520px) {
  .banner-lower .texto-lower { width: 90%; }
  .bloco-flutuante h5 { font-size: 20px; }
  footer .redes-sociais li .ico { width: 45px; height: 45px; padding: 15px; }
  .row { margin:0 }
  .container-fluid .row { margin:0 -15px }
  .form { margin: 3rem -15px!important; }
  .texto-bannerIdx p { width: 100%; }
  .bloco { margin-left: 30px; }
  .flip-container, .front, .back { height: 240px; }
  .texto-banner h2 { font-size: 2rem; }
  .telefone h5 { font-size: 18px; }
  .texto-bannerIdx { width:70% }
  .titulo { margin:0 auto }
  h2 { font-size: 2rem; }
}

@media screen and (max-width:425px) {
  .card .titulo-bloco { font-size:18px; }
  .texto-lower h2 { font-size: 20px; line-height: 2rem; }
  .btn-padrao { margin: 0; }
  .banner-principal, .banner-principal .owl-carousel, .banner-principal .owl-stage-outer, .banner-principal .owl-stage, .banner-principal .owl-item, .banner-principal .owl-item img{ min-height:160px }
  .lista li, .lista a { width: 100%; }
  .bloco-flutuante .ico-imagem { width: 60px; height: 60px; padding: 10px; }
  .bloco-flutuante { top: -80px; }
  .banner-flutuante .nowrap { padding: 15px 0; }
  .bloco-destaque { padding:1rem }
  .card p { width:100% }
  .banner-baixo { background-position: 75% 50%; }
  .form { margin: 3rem 0!important; }
}

@media screen and (max-width:400px) {
  .titulo p { margin-bottom:3rem }
  #mapa { min-height: 250px; }
  .col-xs-6 { width: 100%; max-width: 100%; }
  footer .redes-sociais { float: left; }
  .copy, .superteia { padding:0 1rem }
  .info-contato { padding:15px 5px; }
  .ico { width: 100px }
  .bloco-flutuante .ico-imagem, .telefone .ico { display: none }
  .banner-principal { margin-top: 0; }
  .bloco-flutuante { top: -50px; }
}

@media screen and (max-width:350px) {
  .nav-principal { margin: 0; }
  h3 { font-size: 18px; line-height: 20px; }
  .banner-flutuante .nowrap h3 { font-size: 20px; margin-bottom: 10px; }
  .texto-banner h2 { font-size: 20px; }
  .hamburger { right: 13px; top: 15px; }
  .titulo-contato h2 { line-height: 2rem; }
}

@media (min-width: 1200px) {
	.container { max-width: 1278px; }
}

.sem-hover, .sem-hover:hover, .sem-hover:focus { background: #0078B0; cursor: default!important;}
