<!-- =====> START - CABEÇALHO DA PÁGINA <===== -->
<ion-header>

	<ion-navbar>

		<button ion-button menuToggle>

			<ion-icon name="menu"></ion-icon>

		</button>
		<ion-title style="margin-left: -32px;"><img src="assets/imgs/logo.png" alt="Tenis Clube Suzano" class="img-fluid img-responsive" style="width: 30%; position: relative; display: table; margin: 0px auto;" /></ion-title>

	</ion-navbar>

</ion-header>
<!-- =====> END - CABEÇALHO DA PÁGINA <===== -->

<ion-content>

	<!-- =====> START - CONTEUDO DA PÁGINA <===== -->
	<ion-grid id="page-notificacoes">

		<ion-row>

			<ion-col text-center>
				
				<h5>Notificações</h5>

			</ion-col>

		</ion-row>
		<ion-row  *ngIf="NotificacoesTotal == -2">

			<ion-col text-center>

				<h2>Falha ao carregar suas notificações.</h2>

			</ion-col>

		</ion-row>
		<ion-row  *ngIf="NotificacoesTotal == -1">

			<ion-col text-center>

				<ion-icon id="carregando-icon" name="refresh-circle"></ion-icon>
				<h2>Carregando ...</h2>

			</ion-col>

		</ion-row>
		<ion-row *ngIf="NotificacoesTotal == 0">
			
			<ion-col text-center>

				<h2>Sem notificações a serem exibidas no momento.</h2>

			</ion-col>

		</ion-row>
		<ion-row id="page-notificacoes-content" *ngIf="NotificacoesTotal >= 1">

			<ion-col col-12 *ngFor="let notificacao of Notificacoes; let indice=index" class="page-notificacoes-content-item "[class.aberto]="notificacao.aberto == 0" (click)="ShowItem(indice, notificacao.log_id, notificacao.tipo, notificacao.notificacao_id, notificacao.item_id)">

				<ion-row>

					<ion-col>

						<div class="page-notificacoes-content-item-data" [innerHTML]="notificacao.data_notificacao"></div>
						<div class="page-notificacoes-content-item-title" [innerHTML]="notificacao.titulo"></div>
						<div class="page-notificacoes-content-item-text" [innerHTML]="notificacao.conteudo"></div>

					</ion-col>

				</ion-row>

			</ion-col>

		</ion-row>
		<ion-row *ngIf="NotificacoesTotal >= 6">
			
			<ion-col *ngIf="totalPage >= NotificacoesTotal" text-center><i>Sem mais notificacoes</i></ion-col>

		</ion-row>

	</ion-grid>
	<!-- =====> END - CONTEUDO DA PÁGINA <===== -->


	<!-- =====> START - SCROLL FUNCTION DA PÁGINA <===== -->
	<ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="totalPage < NotificacoesTotal">

		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando..."></ion-infinite-scroll-content>

	</ion-infinite-scroll>
	<!-- =====> END - SCROLL FUNCTION DA PÁGINA <===== -->

</ion-content>