page-notificacoes {


	/* ION-Content da página */
	ion-content {

		background-color:	#ECECEC !important;
		position:			relative;
		display:			table;
		height:				100%;
		width:				100%;

	}


	/* Container da página */
	#page-notificacoes {

		background-color:	#ECECEC !important;
		padding-bottom:		15px;
		position:			relative;
		display:			table;
		height:				100%;
		width:				100%;

	}
	


	/* Content da página */
	#page-notificacoes-content {
		
		padding-bottom:		10px;
		padding-right:		15px;
		padding-left:		15px;
		position:			relative;
		display:			table;
		width:				100%;

	}

	

	/* Itens do content da página */
	.page-notificacoes-content-item {

		background-color:	#FFFFFF;
		border-radius:		5px;
		margin-bottom:		20px;
		margin-top:			10px;
		font-size:			12px;
		position:			relative;
		display:			table;
		padding:			5px;
		width:				100%;

	}


	.aberto::before {

			background-color:	red;
			border-radius:		100%;
			position:			absolute;
		    content:			'';
			display:			table;
			height:				20px;
			width:				20px;
			right:				-5px;
			top:				-5px;


	}

	.page-notificacoes-content-item-data { font-weight: bold; color: #1d2127; }
	.page-notificacoes-content-item-title { font-size: 16px; font-weight: bold; color: #1d2127; }
	.page-notificacoes-content-item-text { color: #666666; font-size: 12px; }



	/* Icone carregando da página */
	#carregando-icon {

		font-size: 54px;
		animation-name: spin;
		animation-duration: 1000ms;
		animation-iteration-count: infinite;
		animation-timing-function: linear; 

	}

	/* Animação do icone carregando da página */
	@keyframes spin {

		from { transform:rotate(0deg); }
		to { transform:rotate(360deg); }

	}

}
