page-expediente {

	/* ION-Content da página */
	ion-content {

		background-color:	#ECECEC !important;
		position:			relative;
		display:			table;
		height:				100%;
		width:				100%;

	}

	
	ion-grid { padding: 0px !important; }
	#page-expediente {

		padding-bottom:		15px;
		position:			relative;
		display:			table;
		height:				100%;
		width:				100%;

	}


	#page-expediente-topo {

		margin-bottom:	30px;
		background:		url('../assets/imgs/background-estrutura.jpg') no-repeat center center/cover;
		text-align:		center;
		position:		relative;
		padding:		15px 0px;
		display:		table;
		width:			100%;

	}


	#page-expediente-topo div {
		
		text-transform:	uppercase;
		margin-right:	auto;
		line-height:	1.3;
		margin-left:	auto;
		font-weight:	bold;
		text-align:		center;
		font-size:		22px;
		position:		relative;
		display:		table;
		width:			70%;
		color:			#FFFFFF;

	}

}