<ion-header>

	<ion-navbar>

		<button ion-button menuToggle>

			<ion-icon name="menu"></ion-icon>

		</button>
		<ion-title style="margin-left: -32px;"><img src="assets/imgs/logo.png" alt="Tenis Clube Suzano" class="img-fluid img-responsive" style="width: 30%; position: relative; display: table; margin: 0px auto;" /></ion-title>

	</ion-navbar>

</ion-header>


<ion-content>
	
	<ion-grid id="page-expediente">

		<ion-row id="page-expediente-topo">
			
			<ion-col>

				<div>CLUBE MAIS COMPLETO DA CIDADE</div>

			</ion-col>

		</ion-row>
		<ion-row>

			<ion-col>

				<div style="position: relative; display: table; width: 100%; padding-right: 5px; padding-left: 5px;">

					<div style="color: #000080; font-size: 32px; font-weight: 900; text-align: center; position: relative; display: table; width: 100%;">Infraestrutura para atender os nossos associados de todas as idades!</div>
					<br />
					<img src="assets/imgs/estrutura.jpg" alt="Tenis Clube Suzano" class="img-responsive" style="width: 70%; position: relative; display: table; margin: 30px auto;" />
					<br />
					<div style="font-size: 24px; color: #414141; font-weight: 600; position: relative; display: table; width: 100%;">Confira tudo que você vai encontrar aqui no Tênis Clube de Suzano:</div>
					<br />
					<br />
					2 piscinas adulto
					<br />
					3 piscinas infantis com toboáguas e escorregadores
					<br />
					1 piscina ofurô
					<br />
					1 toboágua adulto
					<br />
					sauna a vapor
					<br />
					quadra poliesportiva
					<br />
					quadra de volei de areia
					<br />
					quadra de futebol de areia
					<br />
					campo de futebol society
					<br />
					salão de jogos
					<br />
					2 playground infantil
					<br />
					Splash – Praça molhada
					<br />
					Academia
					<br />
					Estacionamento para 500 veiculos
					<br />
					Espaço Criança – área reservada para cranças de 2 a 10 anos com diversos brinquedos e atividades.
					<br />
					Guarda-volume
					<br />
					Restaurante
					<br />
					Lanchonete
					<br />
					2 churrasqueiras para locação ( capacidade 50 pessoas)
					<br />
					<br />
					<br />
					<div style="font-size: 16px; font-weight: bolder; color: #3366ff;">Em breve: NOVA ATRAÇÃO! HALF AQUÁTICO</div>
				
				</div>

			</ion-col>
			
		</ion-row>

	</ion-grid>

</ion-content>